<h2>Países</h2>
<hr>

<ul class="list-group">
  <!-- <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">
    Home page
  </li>
  <li routerLink="about" routerLinkActive="active" class="list-group-item">
    About page
  </li> -->
  <li routerLink="countries/by-capital" routerLinkActive="active" class="list-group-item">
    Capital
  </li>
  <li routerLink="countries/by-country" routerLinkActive="active" class="list-group-item">
    Country
  </li>
  <li routerLink="countries/by-region" routerLinkActive="active" class="list-group-item">
    Region
  </li>
  <!-- <li routerLink="countries/by/*" routerLinkActive="active" class="list-group-item">
    Country detail
  </li> -->
</ul>
